.wrapper {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    padding-top: 100px;
    text-align: center;
}

.title {
    position: absolute;
    left: 200px;
}

.classList {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
}

.classItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    width: 250px;
    margin: 20px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear 0.1s;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    
    &:hover {
        box-shadow: 0 3px 20px #ccc;
        transform: scale(1.05);
    }
}

.teacher {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    color: #607ba1;
}