.wrapper {
    margin-left: 120px;
    padding-top: 100px;
}

.title {
    position: absolute;
    left: 200px;
}

.goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 140px;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #443841;
    z-index: 3;
    cursor: pointer;

    .iconBack {
        margin-right: 4px;
        padding-bottom: 1px;
    }
}

.examList {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
}

.examItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #e2e8f0;
    width: 400px;
    margin: 20px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear 0.1s;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    
    &:hover {
        box-shadow: 0 3px 20px #ccc;
        transform: scale(1);
    }
}

.iconExam {
    color: #f87418;
    margin-right: 10px;
    font-size: 2rem;
}

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 11;
    
    .modalWrapper {
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 500px;
        height: 250px;
        border-radius: 5px;

        .iconClose {
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px;
            cursor: pointer;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;

            &:hover {
                background-color: #ccc;
            }
        }

        .titleExam {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
    
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            width: 100%;

            .infoLeft {
                padding-left: 15px;

                .infoIcon {
                    margin-right: 10px;
                    color: #308b53;
                }
            }
    
            .infoRight {
                padding-right: 15px;
            }
        }

        .btnStart {
            background-color: #f97316;
            color: #fff;
            border: none;
            height: 35px;
            width: calc(100% - 30px);
            border-radius: 8px;
            font-weight: 700;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    
}

